{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h3 class="mb-3 fw-bold">Log in to your account</h3>
        </div>
        <div class="d-flex justify-content-center">
            <form action="{% url 'users:login' %}" method="post" class="col-md-4">
                {% csrf_token %}
                {# bootstrap_form form #}

                {% bootstrap_form_errors form %}

                {% bootstrap_field form.username layout="floating" %}

                {% bootstrap_field form.password layout="floating" %}

                {% bootstrap_button "Log in" button_type="submit" extra_classes="w-100 btn btn-lg" %}

                <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
            </form>
        </div>
    </div>

{% endblock content %}